body {
  margin: 0;
  font-family: sans-serif;

  iframe {
    margin-bottom: -5px;
  }

  #alert {
    min-width: 250px;
    padding: 5px 15px;
    &.is-hidden {
      display: none;
    }

    .title {
      font-size: 15px;
    }

    .subtitle {
      font-size: 13px;
    }

    a {
      color: #485fc7;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
